<footer>
    <div class="footer-links">
        <a class="btn" href="https://www.linkedin.com/in/tumelo-lutaka-3b5b8521b/">LinkedIn</a>
        <a class="btn" href="https://tumelolutaka.github.io/my-personal-website/">Personal Website</a>
        <a class="btn" href="https://github.com/TumeloLutaka/">Github</a>
    </div>
    <p>© Tumelo Lutaka 2024</p>
</footer>