<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TNotes Recommendations</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <a class="logo-link" href="/">
                    TNote's <span>Recommendations</span>
                </a>
            </div>

            <button id="add-book-btn" class="btn btn-secondary">Add Book</button>
        </div>
    </header>
</body>
</html>